* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.container {
  min-height: 100vh;
  background-color: #fff;
}
.container .creation_container {
  background-color: #eeeadf;
  padding: 50px 0;
}
.container .creation_container .creation_home {
  max-width: 1500px;
  margin: 0 auto;
}
.container .creation_container .creation_home .creation_title {
  position: relative;
  text-transform: uppercase;
  font-size: 55px;
  color: #44413d;
  font-weight: 100;
  padding-bottom: 30px;
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .container .creation_container .creation_home .creation_title {
    font-size: 45px;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .container .creation_container .creation_home .creation_title {
    font-size: 35px;
    padding-bottom: 20px;
  }
}
.container .creation_container .creation_home .creation_title::after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #44413d;
  position: absolute;
  top: 95%;
  left: 0;
  opacity: 100%;
}
.container .creation_container .creation_home .list_creation {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}
@media screen and (max-width: 767px) {
  .container .creation_container .creation_home .list_creation {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .container .creation_container .creation_home .list_creation {
    justify-content: center;
    flex-wrap: wrap;
  }
}
.container .creation_container .creation_home .list_creation .creation_block {
  width: 30%;
  overflow: hidden;
}
.container .creation_container .creation_home .list_creation .creation_block:nth-child(2) {
  position: relative;
}
.container .creation_container .creation_home .list_creation .creation_block .play {
  display: block;
  position: absolute;
  cursor: pointer;
  right: 45%;
  top: 50%;
  z-index: 3;
  transition: 0.3s;
}
.container .creation_container .creation_home .list_creation .creation_block .play:hover {
  opacity: 0.5;
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .container .creation_container .creation_home .list_creation .creation_block {
    width: 35%;
  }
}
@media screen and (max-width: 767px) {
  .container .creation_container .creation_home .list_creation .creation_block {
    width: 45%;
  }
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .container .creation_container .creation_home .list_creation .creation_block:nth-child(1) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .container .creation_container .creation_home .list_creation .creation_block:nth-child(odd) {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 767px) {
  .container .creation_container .creation_home .list_creation .creation_block:nth-child(-n+2) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .container .creation_container .creation_home .list_creation .creation_block:nth-child(2) {
    order: 3;
  }
}
.container .creation_container .creation_home .list_creation .creation_block .creation_image {
  width: 100%;
  height: 100%;
  transition: transform 400ms;
}
.container .creation_container .creation_home .list_creation .creation_block .creation_image:hover:nth-child(odd) {
  transform: scale(1.3);
}
.container .creation_container .creation_home .list_creation .creation_block .creation_video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  transition: 0.3s;
}
.container .creation_container .creation_home .list_creation .creation_block .creation_video:hover {
  opacity: 0.8;
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .container .creation_container .creation_home .list_creation .creation_block .creation_video {
    width: 170%;
  }
}
@media screen and (max-width: 767px) {
  .container .creation_container .creation_home .list_creation .creation_block .creation_video {
    width: 200%;
  }
}
.container .creation_container .creation_home .discover_creation {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  width: 100%;
}
.container .creation_container .creation_home .discover_creation .link_discover_creation {
  text-decoration: none;
  color: #44413d;
  font-size: 20px;
  padding: 20px 30px;
  border: 1px solid #44413d;
  transition: 0.3s;
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .container .creation_container .creation_home .discover_creation .link_discover_creation {
    font-size: 16px;
    padding: 20px 25px;
  }
}
@media screen and (max-width: 767px) {
  .container .creation_container .creation_home .discover_creation .link_discover_creation {
    font-size: 14px;
    padding: 15px 15px;
  }
}
.container .creation_container .creation_home .discover_creation .link_discover_creation:hover {
  background-color: #44413d;
  color: #fff;
}/*# sourceMappingURL=style.css.map */